<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Three Classes">
    <test name="SimpleExampleTest In FireFox">
        <parameter name="browser" value="FireFox"/>
        <classes>
            <class name="SimpleExampleTest" />
        </classes>
    </test>
    <test name="SimpleExampleTest In Chrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="SimpleExampleTest" />
        </classes>
    </test>
    <test name="SimpleExampleTest In InternetExplorer">
        <parameter name="browser" value="InternetExplorer"/>
        <classes>
            <class name="SimpleExampleTest" />
        </classes>
    </test>
</suite>